footer{
	#footer{
		color:#dddddd;
		text-align: center;
		background: rgba(0,0,0,.7);
		font-family:$fontPrimary;

		.section-header{
			text-transform: uppercase;
			margin-top:30px;
			letter-spacing: 2px;
			font-weight:500;
			margin-bottom:25px;
			padding-bottom:7px;
			
			&:after{
				content:'';
				width:35px;
				height:2px;
				background:#dddddd;
				display: block;
				margin:0 auto;
				margin-top:7px;
			}
		}

		p{
			margin-bottom:33px;
			line-height: 1.4;
		}

		.socialLinks{
			background:rgba(255,255,255,0.7);
			display: inline-block;
			margin-top:14px;
			border-radius: 25px;
			padding:5px;
			margin-bottom:25px;
			
			.social-icon{
				width:25px;
				height:25px;
				display: block;
				background-image: url("../images/social_icons.png");
				margin-right:7px;
				float:left;
				opacity:0.7;
				@include enlarge(100);

				&:last-child{
					margin-right:0px;
				}
				&:hover{
					opacity:1;
				}
				
				&.fb{
					background-position: -1px 55px; 
				}
				
				&.tw{
					background-position: -1px 82px; 
				}
				
				&.yt{
					background-position: -29px 82px; 
				}
			}

		}


		ul#posts{
			text-align: left;
			li{
				.image{
					width:60px;
					float:left;
					margin-right:10px;
					img{
						width:100%;
					}
				}

				.post-title{
					padding-top:4px;
				}
				.category{
					margin-top:7px;
					display: inline-block;
					font-size:0.8em;
					background:green;
					padding:4px 8px;
					border-radius:2px;
				}
			}
		}

	}
}