footer{
	#footer{
		color:#dddddd;
		text-align: center;
		background: rgba(0,0,0,.7);
		font-family:$fontPrimary;

		.section-header{
			text-transform: uppercase;
			margin-top:30px;
			letter-spacing: 2px;
			font-weight:500;
			margin-bottom:25px;
			padding-bottom:7px;
			
			&:after{
				content:'';
				width:35px;
				height:2px;
				background:#dddddd;
				display: block;
				margin:0 auto;
				margin-top:7px;
			}
		}

		p{
			margin-bottom:33px;
			line-height: 1.4;
		}

		.socialLinks{
			background:rgba(255,255,255,0.7);
			display: inline-block;
			margin-top:14px;
			border-radius: 25px;
			padding:5px;
			margin-bottom:25px;
			
			.social-icon{
				width:25px;
				height:25px;
				display: block;
				background-image: url("../images/social_icons.png");
				margin-right:7px;
				float:left;
				opacity:0.7;
				@include enlarge(100);

				&:last-child{
					margin-right:0px;
				}
				&:hover{
					opacity:1;
				}
				
				&.fb{
					background-position: -1px 55px; 
				}
				
				&.tw{
					background-position: -1px 82px; 
				}
				
				&.yt{
					background-position: -29px 82px; 
				}
			}

		}


		ul#posts{
			text-align: left;
			margin: 0 auto;
    		width: 85%;

			li{
				display: block;
				margin-bottom: 10px;
    			height: 63px;
    			cursor: pointer;
    			@include enlarge(110);


    			&:hover{
    				transform: scale(1.1);
    			}

				.image{
					width:54px;
					float:left;
					margin-right:10px;
					
					img{
						width:100%;
						border-radius: 5px;
					}
				}

				.post-title{
					padding-top:7px;
					font-size: 16px;

				}
				.category{
					margin-top:8px;
					display: inline-block;
					font-size:0.8em;
					background-color:green;
					padding:4px 8px;
					border-radius:2px;
					text-transform: uppercase;
					font-size:12.5px;

					&.ui-design{
						background-color:#ffba00;
						color:#dddddd;
					}

					&.photography{
						background-color:#089dea;
					}

					&.book{
						background-color:#f34d04;
					}
				}
			}
		}

		address{
			color:#ddd;
			line-height: 18px;
			margin-bottom:27px;

			a , a:focus , a:visited{
				color:#ddd;
				text-decoration: none;
				@include enlarge(110);

				&:hover{
					color:#FFF;
					text-decoration: none;
				}
			}
		}

		.contactus{
			input , textarea{
				border:0px;
				border-radius:0px;
				margin-bottom:2px;
				background-color:#444444;
				color:#FFF;
				resize: none;

				&::placeholder{
					color:#777777;
				}
			}
			.name{
				border-top-right-radius: 6px;
				border-top-left-radius: 6px;
			}
			button{
				text-transform: uppercase;
				border-radius:0px 0px 6px 6px;
				display: block;
    			width: 100%;
    			margin-top: 2px;
    			background-color:#2b9b2b;
    			color:#FFF;
    			padding:11px 0px;
			}
		}

	}

	#copyrights{
		background:rgba(0,0,0,0.8);
		text-align: center;
		padding:10px 0px;
		color:$primary-c;
		font-family:$fontPrimary;

		a , a:visited , a:focus{
			color:#FFF;
			text-decoration: none;
		}
	}
}