main{
	text-align:center;
	font-family:$fontPrimary;

	section{
		padding-top:40px;
		padding-bottom: 75px;
		
		&.color-inverse{
			background-color:#54d154;


			.section-header , .section-subheader{
				color:#207b20;
			}

			button{
				background-color:#2b9b2b;
			}
		}


		.section-header{
			color:$lightGray;
			font-size:30px;
			letter-spacing: 3px;
			text-transform: uppercase;

			&:after{
				content:'';
				width:50px;
				border-bottom: 2px solid $lightGray;
				margin:30px auto;
				display: block;
			}

		}
		.section-subheader{
			color:#b7b3b3;
			font-size:16px;
			margin-bottom:75px;
		}

		
		&#whatwedo{
			.image{
				background:#e1f3e1;
				padding:28px;
				border-radius:30px;
				display: inline-block;
				margin:28px;
			}

			.row{
				h2{
					margin-bottom:20px;
					font-weight: bold;
					font-size:20px;
					color:$lightGray;
				}

				p{
					font-size:15px;
					color:$lightGray;
					line-height: 1.5em;
				}

			}
			
		}

		&#ourlastwork{
			.filterationContainer{
				margin:0 auto;
			}
			ul.filteration{
				display:inline-block;
				margin-bottom:60px;

				li{
					background-color:$primary-c;
					float:left;
					padding:15px 19px;
					color:$primary-bg;
					cursor:pointer;
					border:2px solid $dark-bg;
					border-left:0px;
					
					&.active{
						background-color:$dark-bg;
						color:$primary-c;
					}

					&:first-child{
						border-top-left-radius: 25px;
						border-bottom-left-radius: 25px;
					}

					&:last-child{
						border-top-right-radius: 25px;
						border-bottom-right-radius: 25px;
					}
				}
			}

			.image{
				margin-bottom:60px;

				img{
					opacity:0.7;
					cursor:pointer;
					@include enlarge(100);


					&:hover{
						opacity:1;
						border-radius:50%;
					}
				}
			}
		}


		&#testimonial{
			.TestimonialsContainer{
				ul#mainTestContent{
					li.singleitem{
						.test_content{

						}
						.test_owner{
							display: table;
							width:300px;
							margin:0 auto;
							margin-top:20px;
							.test_image{
								width:45px;
								height:45px;
								display: table-cell;

								img{
									width:100%;
									border-radius: 50%;
									border:1px solid $lightGray;
								}
							}
							.test_info{
								display: table-cell;
								vertical-align: middle;
								text-align: left;
								padding-left:15px;

								.test_name{

								}
								.test_title{
									color:#cccccc;
									font-weight: bold;
									margin-top:8px;
								}
							}
						}
					}
				}
			}
		}

	}
}