main{
	text-align:center;
	font-family:$fontPrimary;

	section{
		padding-top:40px;
		padding-bottom: 75px;
		
		&.color-inverse{
			background-color:#54d154;


			.section-header , .section-subheader{
				color:#207b20;

				&:after{
					border-bottom: 2px solid #207b20;
				}
			}


			button{
				background-color:#2b9b2b;
			}
		}


		.section-header{
			color:$lightGray;
			font-size:30px;
			letter-spacing: 3px;
			text-transform: uppercase;

			&:after{
				content:'';
				width:50px;
				border-bottom: 2px solid $lightGray;
				margin:30px auto;
				display: block;
			}

		}
		.section-subheader{
			color:#b7b3b3;
			font-size:16px;
			margin-bottom:75px;
		}

		
		&#whatwedo{
			.image{
				background:#e1f3e1;
				padding:28px;
				border-radius:30px;
				display: inline-block;
				margin:28px;
			}

			.row{
				h2{
					margin-bottom:20px;
					font-weight: bold;
					font-size:20px;
					color:$lightGray;
				}

				p{
					font-size:15px;
					color:$lightGray;
					line-height: 1.5em;
				}

			}
			
		}

		&#ourlastwork{
			.filterationContainer{
				margin:0 auto;
			}
			ul.filteration{
				display:inline-block;
				margin-bottom:60px;

				li{
					background-color:$primary-c;
					float:left;
					padding:10px 20px;
					color:$primary-bg;
					cursor:pointer;
					border:2px solid $dark-bg;
					border-left:0px;
					
					&.active{
						background-color:$dark-bg;
						color:$primary-c;
					}

					&:first-child{
						border-top-left-radius: 25px;
						border-bottom-left-radius: 25px;
					}

					&:last-child{
						border-top-right-radius: 25px;
						border-bottom-right-radius: 25px;
					}
				}
			}

			.image{
				margin-bottom:60px;

				img{
					opacity:0.7;
					cursor:pointer;
					@include enlarge(100);


					&:hover{
						opacity:1;
						border-radius:50%;
					}
				}
			}
		}


		&#testimonial{
			.TestimonialsContainer{
				position:relative;
				.slick-arrow{
					position:absolute;
					z-index: 1000;
					top: 0px;

					&.slick-prev{
						left: -25px;
					}

					&.slick-next{
						right: -25px;
					}
				}

				ul#mainTestContent{
					li.singleitem{
						.test_content{
							line-height: 1.4em;
						}
						.test_owner{
							display: table;
							width:300px;
							margin:0 auto;
							margin-top:20px;
							.test_image{
								width:45px;
								height:45px;
								display: table-cell;

								img{
									width:100%;
									border-radius: 50%;
									border:1px solid $lightGray;
								}
							}
							.test_info{
								display: table-cell;
								vertical-align: middle;
								text-align: left;
								padding-left:15px;

								.test_name{

								}
								.test_title{
									color:#cccccc;
									font-weight: bold;
									margin-top:8px;
								}
							}
						}
					}
				}
			}
		}


		&#happyclients{
			background:#f2f1f1;
			
			

			.image{
				display: table;
  				width: 100%;
				margin-bottom:63px;
				height:70px;

				span{
					display: table-cell;
					text-align: center;
					vertical-align: middle;

					img{
						max-width: 100%;
						max-height: 100%;
					}
				}
			}

			button{
				background:#dddcdc;
				color:#a59d9d;
				padding:12px 33px;
				border-radius: 30px;
			}
		}

		&#team{
			.memberImage{
				width:100%;

				img{
					width:100%;
					border-radius: 50%;
				}

				&:after{
					content:'';
					display: block;
					width:1px;
					height:80px;
					margin:0 auto;
					margin-top:10px;
					margin-bottom:12px;
					border-left:2px solid #207b20;
				}
			}

			.memberName{
				color:$primary-c;
				font-weight: 500;
			}

			.memberSocial{
				background:rgba(255,255,255,0.7);
				display: inline-block;
				margin-top:14px;
				border-radius: 25px;
				padding:5px;
				margin-bottom:25px;
				
				.social-icon{
					width:25px;
					height:25px;
					display: block;
					background-image: url("../images/social_icons.png");
					margin-right:7px;
					float:left;
					opacity:0.7;
					@include enlarge(100);

					&:last-child{
						margin-right:0px;
					}
					&:hover{
						opacity:1;
					}
					
					&.fb{
						background-position: -1px 55px; 
					}
					
					&.tw{
						background-position: -1px 82px; 
					}
					
					&.yt{
						background-position: -29px 82px; 
					}
				}

			}
		}

	}
}